include README.md
include LICENSE
include .gitignore
include docs/templates/*
include docs/power/*
include docs/calibration/*
include docs/graph/*
include shell_scripts/*
include icons/*
include data/sensordata/*
include arduino/*
include powercycle/cycle.db
